<div class="container-sm">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <!-- Título para la selección de fecha y hora -->
        <h2 class="mt-4">Selecciona la Fecha y Hora de Entrega</h2>
        <label for="fechaHoraEntrega" class="form-label">Fecha y Hora de Entrega:</label>
        <input type="datetime-local" class="form-control" id="fechaHoraEntrega" formControlName="FechaHoraEntrega"
            [min]="minFechaHora" [max]="maxFechaHora" step="1800">

        <!-- Título del menú -->
        <h2 class="mt-5 text-center">Menú de Pizzas</h2>

        <!-- Mostrar todas las pizzas disponibles -->
        <div formArrayName="pizzas">
            <div class="container">
                <div class="row row-cols-5 mt-4">
                    <div *ngFor="let pizza of pizzas.controls; let i = index" [formGroupName]="i"
                        class="col mb-3 d-flex">
                        <div class="card w-100">
                            <!-- Imagen de la pizza -->
                            <img [src]="'../../Imagenes/' + pizzasDisponibles[i].id + '.jpg'" class="card-img-top"
                                style="height: 60%;" alt="{{ pizzasDisponibles[i].nombre }}"
                                onerror="this.onerror=null; this.src='../../Imagenes/' + this.getAttribute('data-id') + '.jpeg'"
                                [attr.data-id]="pizzasDisponibles[i].id">

                            <div class="card-body">
                                <h5 class="card-title text-center">{{ pizzasDisponibles[i].nombre }}</h5>

                                <!-- Input de porciones -->
                                <input type="number" class="form-control" formControlName="NumeroPorciones" min="0"
                                    placeholder="Número de porciones">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Botón de reserva -->
        <div class="text-center mt-3 mb-3">
            <button class="btn btn-primary">Reservar</button>
        </div>
    </form>
</div>