<div class="container-sm">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <!-- Selección de Fecha y Hora -->
        <input type="datetime-local" class="form-control" id="fechaHoraEntrega" formControlName="FechaHoraEntrega"
            [min]="minFechaHora" [max]="maxFechaHora" step="1800">

        <!-- Mostrar todas las pizzas disponibles -->
        <div formArrayName="pizzas">
            <div *ngFor="let pizza of pizzas.controls; let i = index" [formGroupName]="i" class="col-md-4 mb-3">
                <div class="card">
                    <!-- Imagen de la pizza -->
                    <img [src]="'assets/pizzas/' + pizzasDisponibles[i].id + '.jpg'" class="card-img-top"
                        style="height: 60%;" alt="{{ pizzasDisponibles[i].nombre }}">

                    <div class="card-body">
                        <h5 class="card-title">{{ pizzasDisponibles[i].nombre }}</h5>
                        <p class="card-text">Precio por porción: $14,000</p>

                        <!-- Input corregido -->
                        <input type="number" class="form-control" formControlName="NumeroPorciones" min="0"
                            placeholder="Número de porciones">
                    </div>
                </div>
            </div>
        </div>

        <!-- Botón de reserva -->
        <button type="submit" class="btn btn-primary mt-3">Reservar</button>
    </form>
</div>