<div class="container-sm">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-3" >
            <label for="form-label">fecha y hora de entrega</label>
            <input type="datetime-local" step="" class="form-control" id="fechaHoraEntrega"
                formControlName="FechaHoraEntrega" format="Y-m-d H:i:s">
        </div>
        <div formArrayName="items">
            <div *ngFor="let item of items.controls; let i = index" [formGroupName]="i" class="mb-3">

                <input type="text" class="form-control" id="idSabor" placeholder="sabor" formControlName="idSabor">

                <input type="number" class="form-control" id="NumeroPorciones" placeholder="numero de porciones" formControlName="NumeroPorciones">


                <button type="button" class="btn btn-danger mt-2" (click)="removeItem(i)">Eliminar</button>
            </div>
        </div>


        <button type="button" class="btn btn-secondary mb-3" (click)="addItem()">Agregar Sabor y Porciones</button>


        <button type="submit" class="btn btn-primary">Reservar</button>
    </form>
</div>