<nav class="navbar navbar-expand-lg bg-success">
  <div class="container-fluid">
          <div class="ms-4"> 
              <h1 class="navbar-brand" href="#">PizzaPaisa</h1>
          </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/disboard']">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/formulario']">Formulario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/estadistcas-dasboard']" *ngIf="esGerente">Estadisticas</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-bars" style="font-size: 30px;"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item table-hover" id="elhover" *ngIf="esGerente" target="contenido-iframe" [routerLink]="['/iframes']" [queryParams]="{url: 'http://localhost/PizzaPaisa/Vista/VistaReserva/Reserva.php'}" >Reservas</a></li>
                <li><a class="dropdown-item table-hover" id="elhover" *ngIf="esGerente" target="contenido-iframe" [routerLink]="['/iframes']"  [queryParams]="{url: 'http://localhost/PizzaPaisa/Vista/VistaLinea/Linea.php'}" >Linea</a></li>
                <li><a class="dropdown-item table-hover" id="elhover" *ngIf="esGerente" target="contenido-iframe" [routerLink]="['/iframes']" [queryParams]="{url: 'http://localhost/pizzapaisa/Vista/VistaSabor/sabor.php'}" >Sabores</a></li>
                <li><a class="dropdown-item table-hover" id="elhover" *ngIf="esGerente" target="contenido-iframe"[routerLink]="['/iframes']"  [queryParams]="{url: 'http://localhost/PizzaPaisa/Vista/VistaSaborIngrediente/SaborIngrediente.php'}" >SaborIngrediente</a></li>
                <li><a class="dropdown-item table-hover" id="elhover" *ngIf="esGerente" target="contenido-iframe" [routerLink]="['/iframes']" [queryParams]="{url: 'http://localhost/PizzaPaisa/Vista/VistaIngrediente/Ingrediente.php'}" >Ingrediente</a></li>
                <li><a class="dropdown-item table-hover" id="elhover" *ngIf="esGerente" target="contenido-iframe" [routerLink]="['/iframes']" [queryParams]="{url: 'http://localhost/PizzaPaisa/Vista/VistaProvedor/provedor.php'}" >Proveedores</a></li>
                <li><a class="dropdown-item table-hover" id="elhover" *ngIf="esGerente" target="contenido-iframe"[routerLink]="['/iframes']"  [queryParams]="{url: 'http://localhost/PizzaPaisa/Vista/ordenCompra/ordenCompra.php'}" >Ordenes</a></li>
                <li><a class="dropdown-item table-hover" id="elhover" *ngIf="esGerente" target="contenido-iframe"[routerLink]="['/iframes']"  [queryParams]="{url: 'http://localhost/PizzaPaisa/Vista/tipoDocumento/tipoDocumento.php'}" >Tipo de Documentos</a></li>
                <li><a class="dropdown-item table-hover" id="elhover" *ngIf="esGerente" target="contenido-iframe"[routerLink]="['/iframes']"  [queryParams]="{url: 'http://localhost/PizzaPaisa/Vista/tipoUsuario/tipoUsuario.php'}" >Tipos de Usuarios</a></li>
                <li><a class="dropdown-item table-hover" id="elhover" *ngIf="esGerente" target="contenido-iframe" [routerLink]="['/tablaUsuario']">Usuarios</a>
                </li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item"  (click)="onLogout()">Cerrar Sesión</a></li>
          </ul>
        </li>
      </ul>
      
    </div>
  </div>
</nav>
  
